apiVersion: apps/v1
kind: Deployment
metadata:
  name: env-deploy-configmap
spec:
  replicas: 2
  selector:
    matchLabels:
       app: env-deploy-configmap
  template:
    metadata:
      labels:
        app: env-deploy-configmap
    spec:
      containers:
        - name: busybox
          image: busybox
          command: ['sh','-c','while true; do echo i rolled to $MYAPPSTAGE and My password is $MYPASSWORD; sleep 10; done']
          env:
           - name: MYAPPSTAGE
             valueFrom:
               configMapKeyRef:
                 name: app-configmap  #name of configmap which created before
                 key: APP_STAGE  # key from configmap which created before
           - name: MYPASSWORD 
             valueFrom:
               secretKeyRef: 
                 name: secret  #name of secret which created before
                 key:  DB_PASS  # key from secret which created before

---
#important and most used one (by using volumes)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: env-deploy-configmap
spec:
  replicas: 2
  selector:
    matchLabels:
       app: env-deploy-configmap
  template:
    metadata:
      labels:
        app: env-deploy-configmap
    spec:
      volumes:
        - name: my-volume
          configMap: 
            name: app-configmap #keys from this configmap will be mounted as files which is previously created 
      containers:
        - name: busybox
          image: busybox
          command: ['sh','-c','cat /config/APP_NAME /config/APP_STAGE && sleep 3600'] #(it should match the keys you gave in configmap)
          volumeMounts:
            - name: my-volume
              mountPath: "/config"  #all keys from configmap will be mounted as files under this path
#after if you have changed something in configmap it will not appear in pods so whether you have delete so that replicas creates another pod or using deployment you can rollout restart the pods or deployment
#kubectl edit cm configmapname
#kubectl rollout restart deploy deploymentname 